---
// src/pages/blog/index.astro - Страница списка всех постов
import Hampfree8BitLayout from '../../layouts/Hampfree8BitLayout.astro';
import HampfreePostList from '../../components/HampfreePostList.astro';
import HampfreeSidebar from '../../components/HampfreeSidebar.astro';
---

<Hampfree8BitLayout title="BLOG | HampfreeBlog">
	<main class="hampfree-main">
		<HampfreePostList />
		<HampfreeSidebar />
	</main>
</Hampfree8BitLayout>
