---
// src/pages/index.astro - Главная страница компьютера Эмили
import Hampfree8BitLayout from '../layouts/Hampfree8BitLayout.astro';
import HampfreePostList from '../components/HampfreePostList.astro';
import HampfreeSidebar from '../components/HampfreeSidebar.astro';
import EmilySystemBanner from '../components/EmilySystemBanner.astro';
---

<Hampfree8BitLayout title="Emily Computer | MarketLab OS">
	<main class="hampfree-main">
		<EmilySystemBanner />
		<HampfreePostList />
		<HampfreeSidebar />
	</main>
</Hampfree8BitLayout>
